.model-select-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 90vh;
    width: 100%;
    overflow-x: hidden;
    background: url('./../../../public/select3-bg.jpg') repeat-y center center/cover;
    background-repeat: repeat-y;

}

.select-bar-container {
    width: 100vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.select-input-container {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.choices-container {
    width: 50%;
    display: flex;
    justify-content: center;
    height: 5vh;
}

.choices-container h5 {
    padding: 2px 10px;
    margin: 5px;
    color: var(--font-color);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
}

@media (max-width:800px) {
    .model-select-container button {
        font-size: 0.8rem;
        padding: 4px 8px;
    }

    .select-bar-container {
        height: 30vh;
    }
}