.content-container h5 {
    font-size: 1.3rem;
    margin: 10px 0;
}
.arrow-icon {
    display: inline-block;
}
.rotated {
    transform: rotate(90deg);
}

input[type="checkbox"] {
    display: none;
}
.primary-label-header {
    display: flex;
    align-content: center;
    justify-content: space-between;
}
.header-label h3 {
    margin: 10px 0;
}

.model-dataset-container {
    border-bottom: 3px solid #131313;
    margin: 5px 0;
}

@media (max-width:500px) {
    .dataset h5, .data-field > *, .header-label h2 {
        font-size: 1rem;
    }
    .error {
        font-size: 1rem;
    }
}